.fua_blocker_text_formatter_button{
    min-width: 28px;
    margin-right: 5px;
}

.fua_yt_sign_open_button{
    margin-top: -10px;
    margin-left: 5px;
    color: #003d8c;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
}

.fua_yt_sign_open_button:hover{
    color: #008000;
}

#fua_yt_text_formatter_signs_window_id{
    left: 20px;
    top: 100vh;
    width: 400px;
    height: 225px;
    margin-top: -235px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    z-index: 2147483000;
    position: fixed;
}

#fua_yt_text_formatter_signs_window_close_id{
    width: 30px;
    height: 30px;
    margin-left: 385px;
    margin-top: -15px;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
}


#fua_yt_text_formatter_sign_items_box_id{
    height: 175px;
    margin: 0px 10px 0px;
    padding-top: 10px;
    text-align: center;
    overflow-y: auto;
}

.fua_yt_sign_item{
    min-width: 35px;
    width: 35px !important;
    min-height: 35px;
    height: 35px !important;
    margin-bottom: 5px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 0px !important;
}

#fua_yt_text_formatter_new_sign_input_id{
    padding: 3px;
    width: 280px;
    margin-right: 5px;
}

#fua_yt_text_formatter_new_sign_button_id{
    height: 26px !important;
}

.fua_yt_remove_sign_button{
    display: none;
}

.fua_yt_sign_item:hover .fua_yt_remove_sign_button{
    margin-left: -31px;
    margin-top: -22px;
    display: block;
}

.fua_yt_sign_item:hover span:nth-child(2){
    margin-top: 12px;
    display: inline-block;
}