.fua-plugin-youtube-offering-channel-item{
    width: 210px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    float: left;
}

.fua-plugin-youtube-offering-channel-item:hover{
    background-color: #333;
    color: #ffffff;
}