#fua-plugin-youtube-copy-menu-item-button-id,
#fua-plugin-youtube-saved-menu-item-button-id{
    background-color: orange;
    min-width: 85px;
}

.fua-plugin-youtube-save-card-icon{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    float: right;
    cursor: pointer;
}